<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dig Report for {{ url }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="assets/js/cssjson.js"></script>
    <script src="assets/js/jquery.highlight.js"></script>
    <script src="assets/js/dig.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <div id="wrap">
        <div class="header">
            <div class="props">Properites Found: {{ prop_length }}</div>
            <div class="report">Report Data</div>
            <div class="css">Combined CSS: {{ css_lines }} Lines</div>
        </div>
        <div class="props" id="props">
            <ul id="prop-checkboxes">{{ checkbox_html }}</ul>
        </div>
        <div class="report" id="report">
            {{ report_html }}
        </div>
        <div class="css" id="css">
            <pre>{{ css_combined }}</pre>
        </div>
    </div>
</body>
</html>