<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dig Report</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="assets/js/cssjson.js"></script>
    <script src="assets/js/jquery.highlight.js"></script>
    <script src="assets/js/dig.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <div id="wrap">
        <div id="nav">
            <h1>CSS Dig</h1>
            <ul id="prop-checkboxes">{{ checkbox_html }}</ul>
        </div>
        <div id="report">
            <h2>Dig Report</h2>
            {{ report_html }}
        </div>
        <div id="css">
            <h2>Combined CSS</h2>
            <pre>{{ css_combined }}</pre>
        </div>
    </div>
</body>
</html>