body {
  margin: 100px;
  padding: 0;
  font: 11px/1.2 Helvetica, sans;
  color: #333;
}

a {
  text-decoration: none;
  color: #12c;
}

b {
  font-weight: 500;
}

h1 {
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0;
}

table {
  margin: 50px 0;
  width: 100%;
  border-collapse: collapse;
}

table tr td  {
  border-bottom: 1px solid #eee;
  padding: 4px 8px;
  word-wrap: break-word;
}

table tr td:last-child {
  width: 1px;
  text-align: right;
}

table tr.totals td {
  font-weight: 500;
  background: #f5f5f5;
  border-bottom: 2px solid #ccc;
}

table.stats {
  width: auto;
  margin-top: 0;
}

table.stats td {
  border: none;
  white-space: nowrap;
}

table.stats td:first-child {
  width: 1px;
  text-align: right;
}

table.stats td:last-child {
  text-align: left;
}

.color-example {
  float: left;
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}