html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Begin Styles */

html, body {
    height: 100%;
    overflow: hidden;
    color: #000;
}

#wrap {
    overflow: hidden;
    height: 100%;
    min-width: 1100px;
}

.props, .report, .css {
    height: 100%;
    float: left;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 15px 50px;
}

.props {
    width: 20%;
    border-right: 1px dashed #ddd;
}

.report {
    width: 43%;
    border-right: 1px dashed #ddd;
}

.css {
    width: 37%;
    color: #999;
    background: #f9f9f9;
}

.header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    z-index: 1;
    min-width: 1100px;
    border-bottom: 1px solid #111;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, sans;
    font-size: 11px;
}

.header .props, .header .report, .header .css {
    background: #222;
    padding: 5px 15px;
    color: #aaa;
    font-weight: 700;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #111;
    border-left: 1px solid #333;
}

.header .props {
    border-left: none;
}
.header .css {
    border-right: none;
}

a {
    text-decoration: none;
    color: #08c;
}

h1 {
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  margin: 0 0 10px;
  letter-spacing: -1px;
}

body {
    margin: 0;
    padding: 0;
    font: 11px/1.5 Helvetica, sans;
    color: #333;
    background: #fff;
}

p {
    margin: 0 0 10px;
    padding: 0;
}

code {
    font-family: "Source Code Pro", monospace;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0 3px;
    border-radius: 2px;
}

pre {
    font-family: "Source Code Pro", monospace;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 20px;
    -moz-tab-size:    3;
    -o-tab-size:      3;
    -webkit-tab-size: 3;
    -ms-tab-size:     3;
    tab-size:         3;
}


/* Stats */

.stats {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 8px;
    border-bottom: 3px solid #eee;
}

.stats h3 {
    font-weight: 700;
}

.stats ul,
.stats p {
    margin-bottom: 10px;
}

.stats ul {
  display: -webkit-box;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
}

.stats ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.unparsed li a {
  color: #a12020;
}

/* Reports */

.report-entry {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: fixed;
}

.report-entry tr td  {
    padding: 4px;
    vertical-align: top;
}

.report-entry tr:hover td  {
    background: #eee;
    cursor: pointer;
}
.report-entry tr.active td  {
    background: #e0f6ff;
    cursor: pointer;
}

.report-entry tr:first-child td  {
    font-weight: 700;
    border-top: none;
}

.report-entry tbody tr td  {
    border-top: 1px solid #f5f5f5;
}

.report-entry tr td:first-child {
    word-wrap: break-word;
    width: 25px;
}

.report-entry tr td:last-child {
    width: 1px;
    text-align: right;
}

.report-entry tr.totals td {
    font-weight: 700;
}

/* Inline color boxes */

.color-example-wrap {
    position: relative;
    padding-left: 20px;
}

.color-example {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

/* Extras */

.highlight {
    background: #e0f6ff;
    color: #000;
    border-radius: 2px;
    padding-right: 3px;
    margin-right: -4px;
    border: 1px solid #eee;
}

