body {
  margin: 0;
  padding: 0;
  font: 11px/1.5 Helvetica, sans;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  color: #08c;
}

.error {
  background: #eab7b7;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #a12020;
}
.error:before {
  content:"Error: ";
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 20px 20px 20px;
  background: #f9f9f9;
}

.logo {
  display: inline-block;
  background: #f9f9f9 url(icon.svg) no-repeat;
  background-size: 100% auto;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  margin-right: 7px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  padding-right: 8px;
  margin-right: 6px;
  border-right: 1px solid #ddd;
}

.links li:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 10px;
}

h1 a {
  color: inherit;
}

h2 {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0;
}

.desc {
  color: #666;
}

form {
  margin-top: 30px;
}

.inputs {
  margin-bottom: 10px;
}

.props {
  margin-bottom: 10px;
  overflow: hidden;
}

.col-left {
  width: 48%;
  float: left;
}

.col-right {
  width: 48%;
  float: right;
}

#url {
  border: none;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 2px;
  font-family: Helvetica, sans;
}


/* Content */

.content {
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 310px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0;
}

table tr td  {
  border-top: 1px solid #f5f5f5;
  padding: 4px 4px;
  word-wrap: break-word;
  vertical-align: top;
}
table tr:first-child td  {
  border-top: none;
}

table tr td:last-child {
  width: 1px;
  text-align: right;
}

table tr.totals td {
  font-weight: 700;
}

.stats {
  border-bottom: 2px solid #eee;
  padding: 0 0 10px;
}

.stats table {
  width: auto;
  margin: 0;
}

.stats table td {
  border: none;
  white-space: nowrap;
  padding: 2px 0;
}

.stats table td:first-child {
  width: 1px;
  text-align: right;
  padding-right: 5px;
}

.stats table td:last-child {
  text-align: left;
}

.color-example {
  float: left;
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}