body {
  margin: 0;
  padding: 0;
  font: 11px/1.5 Helvetica, sans;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  color: #08c;
}

p {
  margin: 0 0 10px;
  padding: 0;
}

code {
  font-family: monospace;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 1px 3px;
  border-radius: 2px;
}

.button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, sans;
  color: #fff;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
  min-width: 60px;
  border: 1px solid rgba(0, 0, 0, .3);
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, .2);
  background: #08c;
}

.button:hover,
.button:active {
  background: #0074ae;
}

.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
}


.error {
  background: #eab7b7;
  padding: 10px 20px;
  color: #a12020;
  border-radius: 3px;
}
.error:before {
  content:"Error: ";
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 20px 20px 20px;
  background: #f9f9f9;
  border-right: 1px dashed #eee;
  min-height: 600px;
}

.logo {
  display: inline-block;
  background: #f9f9f9 url(icon.svg) no-repeat;
  background-size: 100% auto;
  height: 32px;
  width: 32px;
  vertical-align: bottom;
  margin-right: 7px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links {
  position: absolute;
  bottom: 20px;
  line-height: 1;
}

.links li {
  display: inline-block;
  padding-right: 8px;
  margin-right: 6px;
  border-right: 1px solid #ddd;
}

.links li:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

h1 {
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  margin: 0 0 10px;
  letter-spacing: -1px;
}

h1 span {
  color: #999;
}

h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 40px 0 10px;
  padding: 0;
  font-family: Helvetica, sans;
}

h2:first-child {
  margin-top: 0;
}

/* Form */

.inputs {
  margin-bottom: 10px;
}

.props {
  margin-bottom: 10px;
  overflow: hidden;
}

.col-left {
  width: 48%;
  float: left;
}

.col-right {
  width: 48%;
  float: right;
}

textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: block;
  font: 11px Helvetica, sans;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 4px;
}

#url {
  border: none;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 2px;
  font-family: Helvetica, sans;
  font-size: 13px;
}


/* Content */

.content {
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 310px;
}

.table-wrap table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0;
}

.table-wrap table tr td  {
  border-top: 1px solid #f5f5f5;
  padding: 4px 4px;
  word-wrap: break-word;
  vertical-align: top;
}
.table-wrap table tr:first-child td  {
  border-top: none;
  font-size: 13px;
}

.table-wrap table tr td:last-child {
  width: 1px;
  text-align: right;
}

.table-wrap table tr.totals td {
  font-weight: 700;
}

/* Header Stats */

.stats {
  border-bottom: 2px solid #eee;
  padding: 0 0 10px;
}

.stats table {
  table-layout: fixed;
  width: 100%;
  margin: 0;
}

.stats table td {
  border: none;
  white-space: nowrap;
  padding: 2px 0;
  vertical-align: top;
}

.stats table td:first-child {
  width: 50px;
  text-align: right;
  padding-right: 5px;
  font-weight: 600;
}

.stats table td:last-child {
  text-align: left;
}

.stats table tr:first-child td  {
  font-size: 11px;
}

.stats table ul {
  display: -webkit-box;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
}

.stats table ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.unparsed li a {
  color: #a12020;
}


/* Inline color boxes */

.color-example-wrap {
  position: relative;
  padding-left: 20px;
}

.color-example {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}


.about {
  max-width: 600px;
  min-width: 400px;
  font-size: 13px;
  padding: 40px;
  font-family: Georgia, Times, serif;
}

.about ul {
  list-style: disc;
  padding-left: 18px;
}

.about p:first-child {
  font-size: 20px;
  margin-bottom: 30px;
}